<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .profile-image-container {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
        }

        .profile-image {
            max-width: 100%;
            height: 180px;
            object-fit: cover;

        }

        @media (max-width: 760px) {
            .profile-image-container {
                margin-bottom: 10px;
            }
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
    </div>
</nav>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>User Profile</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {% for field in form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                    {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in field.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <br>
                                    {% if field.name == 'full_name' %}
                                    <div>{{ field.value }}</div>
                                    {% else %}
                                    {{ field }}
                                    {% endif %}
                                    {% if field.name == 'username' %}
                                    <div id="username-error" class="invalid-feedback" style="display: none;"></div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <div class="profile-image-container">
                                    <img src="https://www.sketchappsources.com/resources/source-image/profile-illustration-gunaldi-yunus.png"
                                         alt="Avatar" class="profile-image">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-light text-center py-4 fixed-bottom">
    <p class="mb-0">AKU0003 Project for SKJ</p>
  </footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const usernameInput = document.querySelector('#id_username');
        const usernameErrorDiv = document.querySelector('#username-error');

        function checkUsernameLength() {
            const username = usernameInput.value.trim();

            if (username.length > 20) {
                usernameErrorDiv.innerHTML = 'Username must be at most 20 characters long.';
                usernameErrorDiv.style.display = 'block';
            } else {
                usernameErrorDiv.style.display = 'none';
            }
        }

        usernameInput.addEventListener('input', checkUsernameLength);
    });
</script>

</body>
</html>
